@import "tailwindcss";

body {
  color: black;
}

.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
}

@media only screen and (max-width: 768px) {
  /* styles for browsers larger than 960px; */
  .fade-enter-left {
    opacity: 0;
    transform: translateX(300px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .fade-enter-left-active {
    opacity: 1;
    transform: translateX(0);
  }

  .fade-exit-left {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .fade-exit-left-active {
    opacity: 0;
    transform: translateX(300px);
  }
}
